#btn-bgr-intro:hover{
    background-color: #4fb291;
    color: white;
}

.button1:hover{
    color: #4fb291;
}

#btn-welcome:hover{
    background-color: #4fb291;
    color: white;
}
/* #btn-demo-coaching:hover{
    background-color: white;
    color: #4fb291;
}

#btn-demo-learnmore:hover{
    background-color: white;
    color: #4fb291;
} */

.btn-coaching:hover{
    background-color: white;
    color: #4fb291;  
}
